<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613999958200-6cls2bn0v6dfh5mvkfkugpotspefpmoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613999958200-6cls2bn0v6dfh5mvkfkugpotspefpmoq</string>
	<key>API_KEY</key>
	<string>AIzaSyB-PQGyeiqtTizeqmUgRAheQ2sHvkUgQIs</string>
	<key>GCM_SENDER_ID</key>
	<string>613999958200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qst.flutterFirebaseCd</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613999958200:ios:1e19e2924717d604df3c4d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-cd.firebaseio.com</string>
</dict>
</plist>